<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gems</key>
	<array/>
	<key>id</key>
	<string>page.xfen.marbleruby.standalone.ruby30</string>
	<key>name</key>
	<string>MarbleRuby 3.0</string>
	<key>output</key>
	<string>Ruby3.0.app</string>
	<key>ruby</key>
	<string>3.0.3</string>
	<key>terminal</key>
	<true/>
	<key>version</key>
	<string>3.0.3</string>
</dict>
</plist>
