<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gems</key>
	<array/>
	<key>id</key>
	<string>ru.timkoi.marbleruby.standalone.ruby25</string>
	<key>name</key>
	<string>MarbleRuby 2.5</string>
	<key>output</key>
	<string>Ruby2.5.app</string>
	<key>ruby</key>
	<string>2.5.5</string>
	<key>terminal</key>
	<true/>
	<key>version</key>
	<string>2.5.5</string>
</dict>
</plist>
